---
import socs from "../data/socs.json"
---

<div class="contact-table">
    <table>
        <thead>
            <tr>
                <th>Society</th>
                <th>Owners</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            {socs.map((m) => (
                <tr>
                    <td>{m.Society}</td>
                    <td>{m.Owner}</td>
                    <td><a href={`mailto:${m.email1}`}>{m.email1}</a> <a href={`mailto:${m.email2}`}>{m.email2}</a></td>
                </tr>
            ))}
        </tbody>
    </table>
</div>

<style>
    .contact-table {
        background-color: var(--background);
        color: var(--grey-800);
        padding: 10px 0;
        /* padding-top: 10px; */
        
        overflow-x: auto;
		box-shadow: 0 4px 6px -1px var(--grey-400), 0 2px 4px -2px var(--grey-400);
    }

    h2 {
        margin: 0 0 10px 0;
        padding: 0 20px;
        font-size: 1.5rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        text-align: left;
        padding: 0.5rem 20px;
        border-bottom: 1px solid var(--kings-purple);
    }

    td {
        padding: 0.5rem 20px;
    }

    tr {
        transition: background-color 0.1s;
    }

    a {
        color: rgb(var(--accent));
    }

    tbody tr:hover {
        background-color: var(--grey-50);
    }
</style>
